h2.visually-hidden Список тем
ul.themes
  each category in categoryList
    li.themes__item
      a(
        class={
          'themes__item-link--active': category.isActive,
          'themes__item-link': true,
        }
        href="#"
      )= category.name + ` `
        sup= category.number
