doctype html
html(lang='ru')
  include common/head.pug

  body
    div.wrapper
      include common/header.pug

      main
        h1.visually-hidden Регистрация пользователя
        section
          div.popup.popup--registration.popup--anti
            a.popup__button.button.button--popup-close(aria-label="Закрыть окно") Закрыть окно
            h2.popup__title Регистрация
            div.popup__form.popup__form--active.form.form--register
              form(action="#" method="get")
                div.form__field
                  label
                    input(type="email" name="email" placeholder="Электронная почта" required)
                div.form__field
                  label
                    input(type="text" name="name" placeholder="Имя" required)
                div.form__field
                  label
                    input(type="text" name="surname" placeholder="Фамилия")
                div.form__field
                  label
                    input(type="password" name="password" placeholder="Пароль" required)
                div.form__field
                  label
                    input(type="password" name="repeat-password" placeholder="Повтор пароля" required)
                div.form__validation-error
                  p.form__error-message При регистрации произошли ошибки:
                  ul.form__errors
                    li.form__error Пароль не может состоять из двух букв
                    li.form__error Фамилия не должна быть смешной
                div.form__image-loader
                  a.form__avatar.avatar
                    img(src="img/icons/smile.svg" alt="аватар пользователя")
                  label
                    input(type="file" name="upload" class="visually-hidden")
                    | Загрузить фото профиля
                button.form__submit-btn.form__submit-btn--register.button.button--colored(type="submit") Зарегистрироваться

      include common/footer.pug
